---
- name: Install apache2 on Debian
  hosts: webservers
  become: yes
  tasks:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: yes

    - name: Install apache2
      ansible.builtin.apt:
        name: apache2
        state: present

    - name: Ensure apache2 is running
      ansible.builtin.service:
        name: apache2
        state: started
        enabled: yes
